    @import "../variable/mixinGemeral.scss";
    @import "../variable/mixinSection1.scss";
    @import "../variable/vars.scss";
    @import "../variable/mixinSection3.scss";
    body {
        @include font();
        background: map-get($color, blanc-gris);
    }
    
    main {
        @include main();
        background: white;
        h1 {
            @include h1();
            margin: 0px 0px 25px 0px;
            padding: 25px 31px 0px 0px;
        }
        .section3 {
            width: 100%;
            height: 300px;
            margin-top: 10px;
            h2 {
                @include margin-right-left ();
                font-size: 18px;
            }
            .photo-text2 {
                @include margin-right-left ();
                display: flex;
                flex-direction: row;
                #biograph1 {
                    width: 150px;
                    height: 260px;
                    padding: 0px 15px 0px 0px;
                }
                .bio4 {
                    a {
                        @include Lien();
                        font-size: 14px;
                    }
                    .gris1 {
                        @include gris ();
                    }
                }
            }
        }
        .droite {
            flex-wrap: wrap;
            .categorie-titre {
                font-size: 24px;
            }
            .categorie-titre1 {
                font-size: 18px;
            }
            .categorie {
                padding: 8px 0px 0px 0px;
            }
            .gris1 {
                @include gris();
            }
            .jaune {
                @include jaune();
            }
            a {
                @include Lien ();
                font-size: 14px;
            }
            .ligne-grise {
                width: 100%;
                height: 1px;
                background: rgb(218, 215, 215);
            }
        }
        .section6 {
            width: 640px;
            height: 260px;
            margin: 20px 0px 0px 32px;
            .photo-text2 {
                display: flex;
                justify-content: space-between;
                #biograph2 {
                    width: 204px;
                    height: 250px;
                }
                .bio8 {
                    .jaune {
                        font-size: 13px;
                        color: #fecc00;
                    }
                    a {
                        font-size: 14px;
                        @include Lien();
                    }
                    .gris {
                        @include gris();
                    }
                }
            }
        }
        video {
            width: 100%;
            height: 500px;
        }
    }
    
    //----------------------------------------------------------------------
    //-------------------------MEDIA QUERY----------------------------------
    //----------------------------------------------------------------------
    //1 er taille
    //----------------------------------------------------------------------------------------------------------------------------------------
    @media (min-width: 1025px) and (max-width: 1300px) {
        main {
            width: 102%;
            margin: 0px;
            h1 {
                padding: 25px 150px 0px 0px;
            }
        }
    }
    
    // 2eme taille
    //----------------------------------------------------------------------------------------------------------------------------------------------
    @media (min-width: 640px) and (max-width: 1024px) {
        main {
            width: 180%;
            margin: 0px;
            h1 {
                padding: 25px 150px 0px 0px;
            }
        }
    }
    
    // 3 eme taille 
    //---------------------------------------------------------------------------------------------------------------------------
    @media (min-width: 444px) and (max-width: 639px) {
        main {
            width: 250%;
            margin: 0px;
            h1 {
                padding: 25px 150px 0px 0px;
            }
        }
    }
    
    // 4 eme taille 
    //-----------------------------------------------------------------------------------
    @media (min-width:250px) and (max-width: 443px) {
        main {
            width: 295%;
            margin: 0px;
        }
    }